.work-logos i:hover {
	color: rgb(99, 99, 99);
}

.bi-github,
.bi-linkedin {
	color: black;
}

.pantalla {
	width: 100%;
	height: calc(100vh - 142px);
	display: flex;
	justify-content: center;
	align-items: top;
	text-align: center;
	background-image: url('/assets/images/nosotros/conjunto.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 5vh;
}

.cuadro {
	background-color: rgba(207, 225, 219, 0.72);
	color: rgba(23, 53, 43, 1);
	margin-top: 5vh;
	padding: 0 2em 0;
	font-size: 12pt;
	width: 90vw;
	height: 45vh;
	border-radius: 50px;
}

.names-info {
	color: black;
	font-weight: 700;
}

.cuadro h2 {
	font-size: 5rem;
}

.about .card {
	margin: 50px auto 0;
	width: 100%;
	height: calc(70vw - 5vh);
	perspective: 1000px;
	border: none;
}

.card__inner {
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	position: relative;
}

.card__inner.is-flipped {
	transform: rotateY(180deg);
}

.card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	border-radius: 16px;
	box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
	/* background-image: linear-gradient(to bottom right, var(--primary), var(--secondary)); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card__face--front h2 {
	font-weight: 600;
	color: #fff;
	font-size: 4.5rem;
	margin-top: auto;
	margin-bottom: auto;
}

.card__face--front button {
	display: block;
	margin-bottom: 50px;
	border-radius: 50%;
	border: none;
	color: black;
	font-weight: 100;
	background-color: white;
}

.card__face--front button:hover {
	color: rgba(0, 0, 0, 0.2);
}

.card__face--back {
	background-color: var(--light);
	transform: rotateY(180deg);
}

.card__content {
	width: 100%;
	height: 100%;
}

.card__header {
	position: relative;
	padding: 30px 30px 40px;
}

.card__header:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f8a370;
	z-index: -1;
	border-radius: 0px 0px 50% 0px;
}

.pp {
	display: block;
	width: 25%;
	height: 25%;
	margin: 0 auto 30px;
	border-radius: 50%;
	background-color: #fff;
	border: 5px solid #fff;
	object-fit: cover;
}

.card__header h2 {
	color: #fff;
	font-size: 85%;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

.card__body {
	height: 65%;
	display: grid;
	gap: 10px;
	grid-template-rows: auto auto 4fr auto;
	padding: 15px 10px 0;
}

.card__body h3 {
	color: var(--dark);
	text-align: center;
	font-size: 24px;
	font-weight: 400;
}

.work-logos {
	display: flex;
	z-index: 5;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.card__body p {
	overflow: auto;
	place-content: center;
	color: var(--dark);
	font-size: 18px;
	line-height: 1.4;
}

/* CSS */

.about .boton {
	display: flex;
	justify-content: center;
	align-content: center;
}

.btn {
	display: inline;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	padding: 0;
	font-size: 3rem;
}

/* Darker background on mouse-over */
.btn:hover {
	color: rgba(0, 0, 0, 0.2);
}

/* ================ MEDIA QUERIES ================ */
@media only screen and (max-width: 1199.98px) {
	.about .card {
		height: 60vh;
	}
	.about .card__body {
		height: 60%;
	}
}

@media only screen and (max-width: 991.98px) {
	.cuadro {
		flex-direction: column;
		justify-content: center;
		font-size: medium;
	}

	.cuadro-info {
		width: 100%;
	}
	.cuadro h2 {
		font-size: 30pt;
	}

	.about .card {
		height: 60vh;
	}
	.about .card__body {
		height: 48%;
	}
}

@media screen and (max-width: 767.98px) {
	.about .card {
		height: 60vh;
	}
	.about .card__body {
		height: 58%;
	}
}

@media screen and (max-width: 575.98px) {
	.about .card {
		height: 90vh;
	}
	.about .card__body {
		height: 60%;
	}
	.cuadro {
		height: 70vh;
	}
}

@media screen and (max-width: 400px) {
	.about .card {
		height: 100vh;
	}
	.about .card__body {
		height: 65%;
	}
	.cuadro {
		font-size: 10px;
	}
}

/* ================ MEDIA QUERIES ================ */
