*{
  box-sizing: border-box;
}

body{
  margin-bottom: 5vh;
}

.pantalla{
  width: 100%;
  height: calc(100vh - 142px);
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  background-image: url('/assets/images/conjunto.jpg');
  background-size: cover ;
  background-position: center;
  margin-bottom: 5vh;
}

.cuadro{
  background-color: rgba(207, 225, 219, 0.72);
  color: rgba(23, 53, 43, 1);
  margin-top: 5vh;
  padding: 0 2em 0;
  font-size: 12pt;
  width: 90vw;
  height: 45vh;
  border-radius: 50px;
  }

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25vh;
  border: none;
}

.cuadro-info{
  background-color: rgba(243, 164, 107, 0.87);
  border-radius: 10%;
  width: 30vw;
  height: 30vh;
  display: flex;
  /* padding-top: 30%;
  padding-bottom: 30%;
  padding-left: 25%;
  padding-right: 25%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-card{
  width: 50%;
  position: absolute;
  top: 70%;
  border-radius: 50%;
  margin-top: 20px;
  align-self: flex-start;
}

#title-zintra{
  font-size: 54pt;
}

@media screen and (max-width: 900px) {
  .cuadro {
    flex-direction: column;
    justify-content: center;
    font-size: 8pt;
  }
  .cuadro-info{
    width: 100%;
  }
  #title-zintra{
    font-size: 40pt;
  }
}