footer {
	padding: 0 10px;
	width: 100%;
	justify-content: center;
}

.footer {
	background-color: var(--principal);
	display: flex;
	flex-direction: row;
}

.container .footer {
	display: flex;
}

.footer-text p {
	padding-top: 15px;
	font-size: small;
	color: white;
}

.footer-logos {
	display: inline-block;
	display: flex;
}

.logo {
	margin-left: auto;
	display: inline-block;
}

.bi {
	color: white;
}

@media (max-width: 576px) {
	.footer-logos {
		flex-direction: column;
	}
}

/* @media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
} */
