/* Estilos NAVBAR */

.img-logo{
    width: 100px;
    height: 50px;
    object-fit: contain;
    object-position: center;
  }
  
  .img-person{
    width: 40px;
    height: 50px;
    margin-left: 1vw;
    object-fit: contain;
    object-position: center;
  }
  
  .img-contacto{
    width: 40px;
    height: 50px;
    /* margin-left: 1vw;
    object-fit: contain;
    object-position: center; */
  }
  
  /* ESTILOS BODY */
  .fondo {
    background-image: url(../images/contacto/azul-rosa.jpg);
    background-size: cover;
    background-position: 50% 40%;
    background-repeat:no-repeat;   
  }

  .cuadro-form{
    background-color: rgba(255, 255, 255, 0.90);
    height: 60vh;
    width: 40vw;
   padding: 20px;
   border-radius: 10px;
   
  }

  @media screen and (max-width: 767px) { 
  .fondo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .container{
    
  }

  .form{
    
  }
  }


  .container{
     /* top: 50vh; */
    background-color: rgba(255, 255, 255, 0.90);
    width: 40vw;
    padding: 20px;
    border-radius: 10px;

  }

  .btn{
    
  }

  /* ESTILOS FOOTER */
    /* @media (max-width: 820px) and (max-heigth: 1080px) */ 
    
      .t-footer {
          font-size: calc(0.7rem + 0.1vw);
      }