/* Estilos NAVBAR */
body {
	background: url(../images/contacto/nuevo-bg.png);
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.img-logo {
	width: 100px;
	height: 50px;
	object-fit: contain;
	object-position: center;
}

.img-person {
	width: 40px;
	height: 50px;
	margin-left: 1vw;
	object-fit: contain;
	object-position: center;
}

.img-contacto {
	width: 40px;
	height: 50px;
}

/* ESTILOS BODY */

/* .container.form{
	height: 100vh;
} */
	

.card{
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
}

@media screen and (min-height: 1000px) {
.container.formulario{
	height: 85vh;
	display: flex;
	align-items:center;
	margin-top: auto;	
}
}

@media screen and (min-width: 1000px) {
.container.formulario{
		height: 85vh;
		display: flex;
		align-items:center;
		margin-top: auto;
}}
/* .form-pantalla {
	background-color: rgba(255, 255, 255, 0.9);
	width: 40%;
	height: 50%;
	margin-top: 10vh;
	padding: 5% 3%;
	border-radius: 10px;
		
} 
@media screen and (max-width: 1100px) {
	.form-pantalla {
		width: 80%;
		height: calc(100vh - 20vh - 5vh);
		margin-top: 10%; 
	 	align-content: center;
	}
} */

/* ESTILOS FOOTER */
