/* Estilos NAVBAR */
body {
	background: url(../images/contacto/nuevo-bg.png);
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* ESTILOS BODY */

.formulario {
	/* background-color: blueviolet; */
}

@media screen and (max-width: 500px) {
	.card {
		height: calc(24px-);
	}
}
