/* Estilos NAVBAR */
body {
	background: url(../images/comprar/Blanco\ y\ dorado\ cuadrado.jpg) /* no-repeat center center fixed */;
	background-size: cover;
	background-position: 100%;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* ESTILOS BODY */

.form-pantalla {
	background-color: rgba(255, 255, 255, 0.9);
	width: 45%;
	padding: 5% 3%;
	border-radius: 10px;
	height: calc(100vh - TamañoNavbar - TamañoFooter);
}
@media screen and (max-width: 1100px) {
	.form-pantalla {
		width: 96%;
		/* margin-top: 10%; */
		align-items: center;
	}

	body {
		background: url(../images/contacto/azul-rosa.jpg) /* no-repeat center center fixed */;
		background-size: 120% 220%;
		background-position: top center;
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 600px) {
	body {
		background: url(../images/contacto/azul-rosa.jpg) no-repeat /* center center fixed */;
		background-size: 150% 110%;
		background-position: center;
	}
}
