.img-carrusel {
	height: calc(100vh - 76px);
	object-fit: cover;
	object-position: center;
}

.pantalla {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: calc(100vh - 76px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cuadro {
	background-color: rgba(255, 255, 255, 0.492);
	padding: 50px;
	color: black;
	border-radius: 40px;
	width: 40%;
}

.pantalla2 {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.cuadro2 {
	background: rgba(244, 187, 187, 0.84);
	border-radius: 100px;
	padding: 50px;
	color: black;
	width: 90%;
}

.img-cards {
	width: 100%;
	height: 500px;
	object-fit: cover;
	object-position: center;
}

.card-detail {
	border-radius: 20px;
	padding: 20px;
	align-self: center;
}

@media screen and (max-width: 768px) {
	.cuadro {
		flex-direction: column;
		justify-content: center;
		font-size: 8pt;
		width: 100%;
	}
}
