body {
	background: url(../images/login/gris2.jpg);
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.login{
	background-color: rgba(255, 255, 255, 0.9);
	width: 50%;
	height: 60%;
	/* margin-top: 10vh; */
	padding: 5% 3%;
	border-radius: 30px;
	text-align: center;
	align-content: center;
	margin-top: 4vh;
}




@media screen and (max-witdh: 1100px) {
	.login {
		width: 90%;
		height: calc(100vh - 20vh - 5vh);
		/* margin-top: 10%; */
	 	align-content: center;
}
}