body{
    margin-bottom: 75px;
}

/* barra lateral - principal */ 

h2{
  font-size: 38px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.rosa{
  color: rgb(244, 187, 187);
}

/* barra buscar */


.cuad-rosa{
background-color: rgb(244, 187, 187);

}

#button-addon2{
  background-color: rgb(218, 217, 217);
  border: none;
  
}



.color-card{
    background-color: rgb(234, 234, 234);
  }
  
.card-font{
  font-family: 'Montserrat', sans-serif;
}
  
.titulo{
  font-weight: 700;
}
  
a:link, a:visited,  a:hover, a:active
  {
      color: #000000;
      text-decoration: none;
  }  

.boton{
    background-color: rgb(151, 219, 174);
    height: 60px;
    margin-top: 15px;
    text-align: left;
    align-items: center;
}

.img-planta{
    height: 35px;
    
    }

.img-sobre{
  height: 25px;
}

.img-camion{
 height: 27px;
margin-left: auto;}

@media screen and (max-width: 350px) {
    .texto-boton{
        font-size: 6pt;
    }
    
}
.texto-boton{
    font-size: 16px;
    font-weight: 700;
    margin-right: auto;
    
}

.grow{
    transition: all .2s ease-in-out;
  }
  
  .grow:hover,
  .grow:focus,
  .grow:active {
      transform: scale(1.1);
  }

.hvr-fade{
  transition: all .2s ease-in-out;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgb(84, 133, 101);
  color: white;
}


 .sidebar{
  position: fixed;
  left: 10%;
  float: left;
  width: 26%;
} 

.tarjetas{
  margin-left: 33%;
}

  /* .sidebar{
  offset: var(--space); 
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: sticky;
  top: var(--offset);
  }

  .sidebar .component {
    max-height: calc(100vh - var(--offset) * 2);
  }
 */ 