#button-addon2{
    background-color: rgb(218, 217, 217);
    border: none;
    border-radius: 10px;
}

#cuad-verde{
    background-color: rgba(151, 219, 174, 0.57); 
    padding: 2vw;
    border-radius: 20px;
    margin-bottom: 3vh;
    /* border: solid 1px rgba(23, 53, 43, 0.609); */
}
.cuad-rosa{
    background-color: rgb(244, 187, 187);
    border-radius: 15px;
    }

.card-font{
    font-family: 'Montserrat', sans-serif;
}

.titulo{
    font-weight: 700;
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}  

.boton{
    background-color: rgb(151, 219, 174);
    height: 60px;
    margin-top: 15px;
    text-align: left;
    align-items: center;
}



.texto-boton{
    font-size: 16px;
    font-weight: 700;
    margin-right: auto;
    
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover,
.grow:focus,
.grow:active {
transform: scale(1.1);
}

.sidebar{
    --offset: var(--space);
flex-grow: 1;
flex-basis: 300px;
align-self: start;
position: sticky;
top: var(--offset);
}

.sidebar .component {
    max-height: calc(100vh - var(--offset) * 2);}


.img-cards{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-compras{
    height: 27px;
    margin-left: auto;
}

    @media screen and (max-width: 985px) {

        #cuad-verde{
            background-color: rgb(151, 219, 174);
            padding: 5vw;
            border-radius: 20px;
        }
    }

    @media screen and (max-width: 350px) {
        .texto-boton{
            font-size: 6pt;
        }
        
    }