:root {
	--principal: rgba(23, 53, 43, 1);
	--primary: #5c8d89;
	--secondary: #735c8d;
	--dark: #212121;
	--light: #f3f3f3;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

i.bi {
	font-size: 1.8em;
	margin: 5px;
}

.img-logo {
	width: 100px;
	height: 50px;
	object-fit: contain;
	object-position: centgiter;
}

.img-logo {
	width: 100px;
	height: 50px;
	object-fit: contain;
	object-position: center;
}

.img-person {
	width: 40px;
	height: 50px;
	margin-left: 1vw;
	object-fit: contain;
	object-position: center;
}

.img-contacto {
	width: 40px;
	height: 50px;
}
